# VSCode
**/.vscode/**
!**/.vscode/settings.json

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/modules
.idea/*.xml
.idea/*.iml
.idea/*.ipr
.idea/*.iws

# Directories
target/
logs/
build/
dist/
out/
bin/
temp/
test-output/
.vscode/
.idea/
node_modules/
bower_components/

# Files
*.log
*.log.*
*.jks
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.Z
*.dmg
*.exe
*.dll
*.so
*.dylib
*.pdb
*.lib
*.class
*.tmp
*.DS_Store
*.ipr
*.iws
*.csv
*.db
*.sqlite
*.sqlite3
*.mysql
*.sql
*.properties
*.pem
*.key
*.crt
*.jks
*.keystore
*.truststore
*.p12
*.pkcs12
*.iml
*.orig
*.rej
